USE [AcademicManagement]
GO
/****** Object:  StoredProcedure [dbo].[sp_AuthenticateUser]    Script Date: 5/21/2026 8:39:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ========================================================
-- 1. STORED PROCEDURE: HỆ THỐNG
-- ========================================================
-- Đăng nhập
CREATE     PROCEDURE [dbo].[sp_AuthenticateUser]
    @Username VARCHAR(50),
    @Password VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @UserId UNIQUEIDENTIFIER, @FullName NVARCHAR(100), @Email VARCHAR(100), @RoleName VARCHAR(50);
    SELECT @UserId = u.UserId, @FullName = u.FullName, @Email = u.Email, @RoleName = r.RoleName
    FROM Users u JOIN Roles r ON u.RoleId = r.RoleId
    WHERE u.Username = @Username
      AND u.PasswordHash = HASHBYTES('SHA2_256', @Password)
      AND u.IsActive = 1;
    IF @UserId IS NULL
        THROW 50001, 'Sai tên đăng nhập hoặc mật khẩu, hoặc tài khoản đã bị khóa.', 1;
    ELSE
        SELECT @UserId AS UserId, @FullName AS FullName, @Email AS Email, @RoleName AS Role;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_CancelEnrollment]    Script Date: 5/21/2026 8:39:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Hủy đăng ký
CREATE   PROCEDURE [dbo].[sp_CancelEnrollment]
    @StudentId UNIQUEIDENTIFIER,
    @ClassId INT,
    @RequestingUserId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @Role INT;
    SELECT @Role = RoleId FROM Users WHERE UserId = @RequestingUserId AND IsActive = 1;
    IF @Role = 3 AND @RequestingUserId <> @StudentId
        THROW 50016, 'Sinh viên chỉ có thể hủy đăng ký của chính mình.', 1;
    IF @Role NOT IN (1,3) THROW 50017, 'Không đủ quyền.', 1;

    IF NOT EXISTS (SELECT 1 FROM Classes WHERE ClassId = @ClassId AND Status = 'Open')
        THROW 50019, 'Chỉ được hủy khi lớp đang mở.', 1;

    DELETE FROM Enrollments WHERE ClassId = @ClassId AND StudentId = @StudentId;
    IF @@ROWCOUNT = 0 THROW 50020, 'Không tìm thấy đăng ký.', 1;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_CreateUser]    Script Date: 5/21/2026 8:39:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Tạo tài khoản (Admin)
CREATE   PROCEDURE [dbo].[sp_CreateUser]
    @Username VARCHAR(50),
    @Password NVARCHAR(255),
    @FullName NVARCHAR(100),
    @Email VARCHAR(100),
    @RoleId INT
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM Users WHERE Username = @Username)
        THROW 50002, 'Username đã tồn tại.', 1;
    IF EXISTS (SELECT 1 FROM Users WHERE Email = @Email)
        THROW 50003, 'Email đã tồn tại.', 1;
    IF NOT EXISTS (SELECT 1 FROM Roles WHERE RoleId = @RoleId)
        THROW 50004, 'Role không hợp lệ.', 1;

    INSERT INTO Users (UserId, Username, PasswordHash, FullName, Email, RoleId, IsActive)
    VALUES (NEWID(), @Username, HASHBYTES('SHA2_256', @Password), @FullName, @Email, @RoleId, 1);
    SELECT SCOPE_IDENTITY(); -- trả về UserId? UserId là GUID, phải SELECT ra.
END

GO
/****** Object:  StoredProcedure [dbo].[sp_DeactivateUser]    Script Date: 5/21/2026 8:39:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Vô hiệu hóa tài khoản
CREATE   PROCEDURE [dbo].[sp_DeactivateUser]
    @UserId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Users SET IsActive = 0 WHERE UserId = @UserId;
    IF @@ROWCOUNT = 0 THROW 50005, 'User không tồn tại.', 1;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteClass]    Script Date: 5/21/2026 8:39:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_DeleteClass]
    @ClassId INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Enrollments WHERE ClassId = @ClassId)
        THROW 50015, 'Không thể xóa lớp vì đã có sinh viên đăng ký.', 1;
    DELETE FROM Classes WHERE ClassId = @ClassId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteCourse]    Script Date: 5/21/2026 8:39:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_DeleteCourse]
    @CourseId INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Classes WHERE CourseId = @CourseId)
        THROW 50011, 'Không thể xóa môn học vì đã được mở lớp.', 1;
    DELETE FROM Courses WHERE CourseId = @CourseId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteDepartment]    Script Date: 5/21/2026 8:39:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_DeleteDepartment]
    @DepartmentId INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Courses WHERE DepartmentId = @DepartmentId)
        THROW 50008, 'Không thể xóa khoa vì còn môn học tham chiếu.', 1;
    DELETE FROM Departments WHERE DepartmentId = @DepartmentId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_EnrollStudent]    Script Date: 5/21/2026 8:39:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ========================================================
-- 3. STORED PROCEDURE: TÁC VỤ CHÍNH
-- ========================================================
-- Đăng ký học phần
CREATE   PROCEDURE [dbo].[sp_EnrollStudent]
    @StudentId UNIQUEIDENTIFIER,
    @ClassId INT,
    @RequestingUserId UNIQUEIDENTIFIER -- người gọi để phân quyền
AS
BEGIN
    SET NOCOUNT ON;
    -- Phân quyền: phải là chính sinh viên hoặc Admin
    DECLARE @RequestingRole INT;
    SELECT @RequestingRole = RoleId FROM Users WHERE UserId = @RequestingUserId AND IsActive = 1;
    IF @RequestingRole = 3 AND @RequestingUserId <> @StudentId
        THROW 50016, 'Sinh viên chỉ có thể tự đăng ký cho mình.', 1;
    IF @RequestingRole NOT IN (1,3) THROW 50017, 'Không đủ quyền.', 1;

    -- Kiểm tra sinh viên hợp lệ
    IF NOT EXISTS (SELECT 1 FROM Users WHERE UserId = @StudentId AND RoleId = 3 AND IsActive = 1)
        THROW 50018, 'Sinh viên không hợp lệ.', 1;

    -- Gọi trực tiếp INSERT, trigger sẽ kiểm tra trạng thái và sức chứa
    BEGIN TRY
        INSERT INTO Enrollments (ClassId, StudentId) VALUES (@ClassId, @StudentId);
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetClassStudents]    Script Date: 5/21/2026 8:39:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Danh sách sinh viên của lớp
CREATE   PROCEDURE [dbo].[sp_GetClassStudents]
    @ClassId INT,
    @RequestingUserId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @Role INT, @TeacherId UNIQUEIDENTIFIER;
    SELECT @Role = RoleId FROM Users WHERE UserId = @RequestingUserId AND IsActive = 1;
    IF @Role = 1 -- Admin
        SELECT u.UserId, u.Username, u.FullName, u.Email, e.EnrollmentDate, e.MidtermGrade, e.FinalGrade, e.AverageGrade
        FROM Enrollments e JOIN Users u ON e.StudentId = u.UserId
        WHERE e.ClassId = @ClassId;
    ELSE IF @Role = 2 -- Teacher
    BEGIN
        SELECT @TeacherId = TeacherId FROM Classes WHERE ClassId = @ClassId;
        IF @TeacherId IS NULL THROW 50021, 'Lớp không tồn tại.', 1;
        IF @TeacherId <> @RequestingUserId THROW 50022, 'Bạn không phải giáo viên của lớp này.', 1;
        SELECT u.UserId, u.Username, u.FullName, u.Email, e.EnrollmentDate, e.MidtermGrade, e.FinalGrade, e.AverageGrade
        FROM Enrollments e JOIN Users u ON e.StudentId = u.UserId
        WHERE e.ClassId = @ClassId;
    END
    ELSE
        THROW 50023, 'Không có quyền xem danh sách.', 1;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetFailedCoursesReport]    Script Date: 5/21/2026 8:39:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Báo cáo nợ môn
CREATE   PROCEDURE [dbo].[sp_GetFailedCoursesReport]
    @AdminUserId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    IF NOT EXISTS (SELECT 1 FROM Users WHERE UserId = @AdminUserId AND RoleId = 1)
        THROW 50029, 'Chỉ Admin mới được xem báo cáo này.', 1;

    SELECT u.UserID as StudentID, u.Username, u.FullName,
           co.CourseCode, co.CourseName, c.Semester, e.AverageGrade
    FROM Enrollments e
    JOIN Classes c ON e.ClassId = c.ClassId
    JOIN Courses co ON c.CourseId = co.CourseId
    JOIN Users u ON e.StudentId = u.UserId
    WHERE e.AverageGrade < 4
    ORDER BY u.Username, c.Semester;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetStudentGrades]    Script Date: 5/21/2026 8:39:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ========================================================
-- 4. STORED PROCEDURE: THỐNG KÊ
-- ========================================================
-- Bảng điểm cá nhân
CREATE   PROCEDURE [dbo].[sp_GetStudentGrades]
    @StudentId UNIQUEIDENTIFIER,
    @RequestingUserId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @Role INT;
    SELECT @Role = RoleId FROM Users WHERE UserId = @RequestingUserId AND IsActive = 1;
    IF @Role = 3 AND @RequestingUserId <> @StudentId
        THROW 50026, 'Sinh viên chỉ được xem điểm của chính mình.', 1;
    IF @Role = 2 -- Giáo viên: chỉ xem nếu có dạy sinh viên này
    BEGIN
        IF NOT EXISTS (
            SELECT 1 FROM Enrollments e JOIN Classes c ON e.ClassId = c.ClassId
            WHERE e.StudentId = @StudentId AND c.TeacherId = @RequestingUserId
        ) THROW 50027, 'Bạn không dạy sinh viên này.', 1;
    END
    IF @Role NOT IN (1,2,3) THROW 50028, 'Không đủ quyền.', 1;

    SELECT co.CourseCode, co.CourseName, co.Credits, c.Semester,
           e.MidtermGrade, e.FinalGrade, e.AverageGrade,
           CASE WHEN e.AverageGrade >= 4 THEN N'Đạt' ELSE N'Không đạt' END AS Result
    FROM Enrollments e
    JOIN Classes c ON e.ClassId = c.ClassId
    JOIN Courses co ON c.CourseId = co.CourseId
    WHERE e.StudentId = @StudentId
    ORDER BY c.Semester DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertClass]    Script Date: 5/21/2026 8:39:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- CRUD Classes
CREATE   PROCEDURE [dbo].[sp_InsertClass]
    @ClassCode VARCHAR(50),
    @CourseId INT,
    @TeacherId UNIQUEIDENTIFIER,
    @Semester VARCHAR(20),
    @MaxStudents INT = 40,
    @Status VARCHAR(20) = 'Open'
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Courses WHERE CourseId = @CourseId)
        THROW 50012, 'Môn học không tồn tại.', 1;
    IF NOT EXISTS (SELECT 1 FROM Users WHERE UserId = @TeacherId AND RoleId = 2 AND IsActive = 1)
        THROW 50013, 'Giáo viên không hợp lệ.', 1;
    INSERT INTO Classes (ClassCode, CourseId, TeacherId, Semester, MaxStudents, Status)
    VALUES (@ClassCode, @CourseId, @TeacherId, @Semester, @MaxStudents, @Status);
END

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertCourse]    Script Date: 5/21/2026 8:39:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- CRUD Courses
CREATE   PROCEDURE [dbo].[sp_InsertCourse]
    @CourseCode VARCHAR(20),
    @CourseName NVARCHAR(150),
    @Credits INT,
    @DepartmentId INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Departments WHERE DepartmentId = @DepartmentId)
        THROW 50009, 'Mã khoa không hợp lệ.', 1;
    INSERT INTO Courses (CourseCode, CourseName, Credits, DepartmentId)
    VALUES (@CourseCode, @CourseName, @Credits, @DepartmentId);
END

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertDepartment]    Script Date: 5/21/2026 8:39:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ========================================================
-- 2. STORED PROCEDURE: DANH MỤC
-- ========================================================
-- CRUD Departments
CREATE   PROCEDURE [dbo].[sp_InsertDepartment]
    @DepartmentCode VARCHAR(20),
    @DepartmentName NVARCHAR(100)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Departments WHERE DepartmentCode = @DepartmentCode)
        THROW 50006, 'Mã khoa đã tồn tại.', 1;
    INSERT INTO Departments (DepartmentCode, DepartmentName) VALUES (@DepartmentCode, @DepartmentName);
END

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateClass]    Script Date: 5/21/2026 8:39:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_UpdateClass]
    @ClassId INT,
    @ClassCode VARCHAR(50),
    @CourseId INT,
    @TeacherId UNIQUEIDENTIFIER,
    @Semester VARCHAR(20),
    @MaxStudents INT,
    @Status VARCHAR(20)
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Classes WHERE ClassId = @ClassId)
        THROW 50014, 'Lớp không tồn tại.', 1;
    -- các kiểm tra khác tương tự insert
    UPDATE Classes SET ClassCode = @ClassCode, CourseId = @CourseId, TeacherId = @TeacherId,
        Semester = @Semester, MaxStudents = @MaxStudents, Status = @Status
    WHERE ClassId = @ClassId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCourse]    Script Date: 5/21/2026 8:39:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_UpdateCourse]
    @CourseId INT,
    @CourseCode VARCHAR(20),
    @CourseName NVARCHAR(150),
    @Credits INT,
    @DepartmentId INT
AS
BEGIN
    -- kiểm tra tồn tại và khóa ngoại
    IF NOT EXISTS (SELECT 1 FROM Courses WHERE CourseId = @CourseId)
        THROW 50010, 'Môn học không tồn tại.', 1;
    UPDATE Courses SET CourseCode = @CourseCode, CourseName = @CourseName, Credits = @Credits, DepartmentId = @DepartmentId
    WHERE CourseId = @CourseId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateDepartment]    Script Date: 5/21/2026 8:39:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_UpdateDepartment]
    @DepartmentId INT,
    @DepartmentCode VARCHAR(20),
    @DepartmentName NVARCHAR(100)
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Departments WHERE DepartmentId = @DepartmentId)
        THROW 50007, 'Khoa không tồn tại.', 1;
    UPDATE Departments SET DepartmentCode = @DepartmentCode, DepartmentName = @DepartmentName
    WHERE DepartmentId = @DepartmentId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateGrade]    Script Date: 5/21/2026 8:39:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_UpdateGrade]
    @EnrollmentId INT,
    @MidtermGrade FLOAT = NULL,
    @FinalGrade FLOAT = NULL,
    @TeacherUserId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ClassTeacher UNIQUEIDENTIFIER;

    SELECT @ClassTeacher = c.TeacherId
    FROM Enrollments e
    JOIN Classes c ON e.ClassId = c.ClassId
    WHERE e.EnrollmentId = @EnrollmentId;

    IF @ClassTeacher IS NULL
        THROW 50024, 'Đăng ký không tồn tại.', 1;

    -- Kiểm tra quyền: phải là Admin hoặc giáo viên của lớp
    IF NOT EXISTS (SELECT 1 FROM Users WHERE UserId = @TeacherUserId AND RoleId = 1)
        AND @TeacherUserId <> @ClassTeacher
        THROW 50025, 'Bạn không có quyền nhập điểm cho lớp này.', 1;

    UPDATE Enrollments
    SET MidtermGrade = ISNULL(@MidtermGrade, MidtermGrade),
        FinalGrade   = ISNULL(@FinalGrade, FinalGrade)
    WHERE EnrollmentId = @EnrollmentId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUser]    Script Date: 5/21/2026 8:39:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Chỉnh sửa: Trả về UserId đã tạo
-- (Để đơn giản, có thể dùng OUTPUT hoặc SELECT ngay sau INSERT)
-- Tôi sẽ sửa lại trong thực tế nhưng ở đây minh họa logic.

-- Cập nhật thông tin User (không đổi mật khẩu)
CREATE   PROCEDURE [dbo].[sp_UpdateUser]
    @UserId UNIQUEIDENTIFIER,
    @FullName NVARCHAR(100),
    @Email VARCHAR(100),
    @RoleId INT
AS
BEGIN
    SET NOCOUNT ON;
    IF NOT EXISTS (SELECT 1 FROM Users WHERE UserId = @UserId)
        THROW 50005, 'User không tồn tại.', 1;
    UPDATE Users SET FullName = @FullName, Email = @Email, RoleId = @RoleId
    WHERE UserId = @UserId;
END

GO
